* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: system-ui, -apple-system, sans-serif;
  background: #0a0a0a;
  color: #fff;
}

h1 {
  font-size: 8vw;
}

header.fixed-header {
  top: calc((var(--header-row) - 1) * (var(--block-height) + var(--block-gap)));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fixed-header.gap-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--block-gap);
  align-content: flex-start;
  border: none;

  & > .block {
    position: relative;
    width: var(--block-width);
    height: var(--block-height);
    overflow: hidden;
    /* padding: 0 var(--block-gap); */
    /* background-color: #333; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > .info-item {
      position: relative;
      /* background-color: var(--grid-color-horizontal); */
      padding: var(--block-gap);
      transition: transform 200ms ease-out, color 200ms linear;
      transition-delay: 0ms;
      color: transparent;

      &.top {
        /* padding-bottom: var(--block-gap); */
        transform: translateY(-100%);
      }
      &.bottom {
        /* padding-top: var(--block-gap); */
        transform: translateY(100%);
      }
    }
  }
}

.fixed-header.gap-container.show-info {
  & > .block {
    & > .info-item {
      transition-delay: var(--info-item-in-delay, 0ms);
      /* background-color: #ff0000; */
      transform: translateY(0);
      color: inherit;
    }
  }
}